@{
    Layout = "_Layout";
}
    <div class="wrapper">
        <h2 style="margin-top : 50px">О Компании</h2>
        <p> Мы - молодая, амбициозная компания в которой работают специалисты высочайшей квалификации.</p>
        <p>Мы уже достигли многого, но считаем, что это только начало. Только вместе с нашими партнерами и клиентами, руководствуясь принципами взаимного экономического успеха, мы сможем достичь еще большего. Мы всегда готовы предоставить клиенту услуги, в которых он нуждается:</p>
        <p>• в высоком качестве</p>
        <p>• по цене, которую он готов заплатить</p>
        <p>• в те сроки, которые ему необходимы</p>
        <p>• в том объеме, который ему нужен.</p>
        <p>Наш успех – это процветание наших клиентов, наших партнеров и наших сотрудников.</p>

        <p>Мы предлагаем современные решения для промышленного и гражданского строительства: гидроизоляции и герметизации, промышленных полов, цементно-песчаных стяжек, отделочных работ, фасадных работ, кровельных работ и много другое. Все материалы сертифицированы, а технологии проверены нами на многих объектах и адаптированы к любым климатическим зонам и погодным условиям нашей страны.</p>

        <p>Корпоративный регламент проведения работ предусматривает:</p>
        <p>• проведение работ в сжатые сроки</p>
        <p>• ежедневный контроль качества</p>
        <p>• гибкий график, соответствующий требованиям клиента и экономической эффективности</p>
        <p>• гарантии на работы и материалы</p>
        <p>Компания ООО «РСК Миллениум» адаптирует технологические решения к условиям конкретных объектов, разрабатывает и согласовывает необходимые технические решения.</p>

        <p>Основные принципы работы компании ООО «РСК Миллениум» – интересы клиента, соблюдение государственных норм и требований законодательства, гарантии качества, взаимная выгода.</p>

        <p>Мы всегда рады видеть Вас среди наших клиентов и партнеров.</p>
        <p><strong>С уважением,</strong><br /><strong>Генеральный директор РСК&nbsp;&laquo;Миллениум&raquo;</strong><br /><strong>Хасаншин Евгений Марселевич</strong></p>
        <p>Реквизиты компании:</p>
        <p align="justify">ООО «РСК Миллениум»</p>
        <p align="justify">ИНН: 6671094858</p>
        <p align="justify">ОГРН: 1196658026234</p>
        <p align="justify">КПП: 667101001</p>
        <p align="justify">Расчетный счет: 40702810402500033909</p>
        <p align="justify">Банк: Филиал Точка Публичного акционерного общества Банка «Финансовая Корпорация Открытие»</p>
        <p align="justify">Кор.счет: 30101810845250000999</p>
        <p align="justify">БИК: 044525999</p>
        <p align="justify">ОГРН 1196658026234</p>
        <p align="justify">Россия, Свердловская область, г. Екатеринбург, ул. Белинского, д 118, кв. 28</p>
        <p align="justify">Генеральный директор Хасаншин Е.М.</p>
    </div>