@{
    Layout = "_Layout";
}

    <div class="wrapper">
        <h2 style="margin-top : 50px">О Компании</h2>
        <p style="text-align: justify;">Здравствуйте, уважаемые председатели и управляющие многоквартирных домов, благодарю за проявленный к нашей компании интерес, будем знакомы!</p>
        <p style="text-align: justify;">Я директор и учредитель компании &laquo;Красивый Петербург&raquo;. У меня высшее техническое образование, работаю и постоянно совершенствуюсь в ремонтно-строительной сфере&nbsp;с 2000 года. В 2013 году создал ремонтно-строительную компанию &laquo;Красивый Петербург&raquo; и набрал близкую мне по духу и моральным принципам команду.</p>
        <ins>
            <p>Мы предоставляем услуги по благоустройству жилого фонда города Санкт-Петербург. Наши основные заказчики &ndash; ТСЖ и ЖСК.</p>
        </ins>
        <p style="text-align: justify;">Минимум неудобств для жильцов, согласование с Заказчиками всех нюансов, аккуратность, качественность &mdash; критерии, стоящие в&nbsp;&nbsp;приоритете у созданной мною компании.</p>
        <p style="text-align: justify;">Всем, без исключения Петербуржцам,&nbsp;&nbsp;а также их гостям, нравится&nbsp;&nbsp;&nbsp;заходить в красивый дом, чистую, ухоженную парадную, подниматься пешком по аккуратной &laquo;черной&raquo; лестнице, но, чаще всего такую уютную и&nbsp;&nbsp;эстетически приятную парадную или подъезд мы можем встретить&nbsp;&nbsp;в новом доме.</p>
        <p style="text-align: justify;">Компания &laquo;Красивый Петербург&raquo; учреждена для благоустройства и создания комфортной среды в парадных, подъездах, дворах, подвалах, чердаках и &laquo;черных&raquo; лестницах, а также обновления фасадов домов, так называемого старого жилого фонда Санкт-Петербурга. Наши компетентные консультанты и грамотные мастера с 2013 года преобразили сотни объектов любимого города.</p>
        <p style="text-align: justify;">Также, как Вы, уважаемые председатели и управляющие, мы понимаем, что каждый собственник в доме должен быть доволен результатами нашей работы, что места общего пользования должны обеспечивать всех жильцов приятной атмосферой и создавать достойный имидж для хозяев здания. Мы дорожим Вашей и своей деловой репутацией, поэтому все работы осуществляем качественно, в срок, не скрываем, возникающих в процессе выполнения заказа нюансов и всегда находим совместное с заказчиками их решение. Весь процесс ремонтно-строительных работ наобъекте находится под контролем прораба (высококвалифицированного специалиста), способного решать технические задачи и правильно взаимодействовать с заказчиком, дизайнером, рабочими и субподрядчиками. Для дополнительного контроля и своевременного устранения причиннарушения работ, у нас есть служба технического надзора качества на всех наших объектах.</p>
        <p style="text-align: justify;">Именно благодаря честной, открытой позиции компании, многоступенчатому контролю качества и добросовестному выполнению всех взятых на себя обязательств,&nbsp; нас часто рекомендуют председатели ТСЖ И ЖКХ своим коллегам.</p>
        <p style="text-align: justify;">Если в Вашем многоквартирном доме унылые и грязные стены, неотмывающиеся полы, продувающие окна, сломанные почтовые ящики,&nbsp; грязные мусоропроводы, хлопающие хлипкие двери, отваливающаяся от фасада штукатурка, разломанные водосточные трубы, двор в ямах, не растет трава или Вам просто нужно что-то улучшить или получить бесплатную квалифицированную консультацию по вопросам ремонта, звоните, мы решим любые Ваши задачи по доступной цене и с высоким качеством!</p>
        <p style="text-align: justify;"></p>
        <p><strong>С уважением,</strong><br /><strong>Генеральный директор РСК&nbsp;&laquo;Красивый Петербург&raquo;</strong><br /><strong>Логунов Александр Николаевич</strong></p>
        <p>Реквизиты компании:</p>
        <p align="justify">ООО "Красивый Петербург 2.0"</p>
        <p align="justify">ИНН: 7841030775</p>
        <p align="justify">ОГРН: 1157847381955</p>
        <p align="justify">КПП: 784101001</p>
        <p align="justify">Расчетный счет: 40702810732260000988</p>
        <p align="justify">Банк: ФИЛИАЛ "САНКТ-ПЕТЕРБУРГСКИЙ" АО "АЛЬФА-БАНК"</p>
        <p align="justify">Кор.счет: 30101810600000000786</p>
        <p align="justify">БИК: 044030786</p>
        <p align="justify">ОГРН 1157847381955</p>
        <p align="justify">Адрес: 191123, г. Санкт-Петербург, улица Шпалерная, дом 26, лит.А, пом. 31-Н</p>
        <p align="justify">Генеральный директор Логунов А.Н.</p>
    </div>