@{
    Layout = "_Layout";
}

<div class="wrapper">
    <h2 style="margin-top : 50px">Контакты</h2>
    <p align="center" itemprop="name">Офис в Екатеринбурге</p>
    <p align="center">+7 (909) 702-86-00"</p>
    <p align="center">Екатеринбург, улица Белинского, дом.118</p>
    <p align="center">Время работы офиса: пн-пт с 9:30 до 19:00</p>
    <p align="center">rsk.millenium@gmail.com</p>
    <div align="center">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A18a8f27412da21d740c80566aef383b2477bcbb2698f0db59691a165fe81badd&amp;width=706&amp;height=584&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>