@{
    Layout = "_Layout";
}

<div class="wrapper">
    <h2 style="margin-top : 50px">Контакты</h2>
    <p align="center" itemprop="name">Офис в Санкт-Петербурге</p>
    <p align="center"><a href="tel:+7 (812) 642-16-35" style="font-size: 30px; font-weight: 500;" itemprop="telephone">+7 (812) 642-16-35</a></p>
    <p align="center" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">Санкт-Петербург, улица Шпалерная, дом.26, лит.А</p>
    <p align="center">Время работы офиса: пн-пт с 9:30 до 19:00</p>
    <p align="center"><a href="mailto:6421635@rsk-piter.ru" style="font-weight: 500;" itemprop="email">6421635@rsk-piter.ru</a></p>
    <div align="center">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A18a8f27412da21d740c80566aef383b2477bcbb2698f0db59691a165fe81badd&amp;width=706&amp;height=584&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>