@{
    Layout = "_Layout";
}
<body>

<div class="wrapper">
    <div class="service service-index">
        <div>
            <div class="service-image">
                <h2>Наши<br>услуги</h2>
            </div>

            <div class="service-title__text">
                <p>Мы выполняем весь спектр работ по ремонту и благоустройству</p>
            </div>
        </div>

        <div>
            <div class="service-image"><a asp-controller="Services"
                                          asp-action="RemontPodezda"><img src="/img/icon-main-5_5b7fde_5b9671.png"></a></div>

            <a asp-controller="Services"
               asp-action="RemontPodezda" class="service-title"><span>Косметический</span> <span>ремонт</span> <span>парадных</span></a>

            <ul class="service-category">
                <li><span>Замена</span> <span>радиаторов</span> <span>отопления</span></li>
                <li><span>Отделка</span> <span>дверных</span> <span>откосов</span></li>
                <li><span>Ремонт</span> <span>подвала</span></li>
                <li><span>Ремонт</span> <span>деревянных</span> <span>дверей</span></li>
                <li><span>Ремонт</span> <span>чердака</span></li>
            </ul>
        </div>
        <div>
            <div class="service-image"><a asp-controller="Services"
                                          asp-action="ZamenaOkonIDverey"><img src="/img/icon-main-6_5b7fde.png"></a></div>

            <a asp-controller="Services"
               asp-action="ZamenaOkonIDverey" class="service-title"><span>Замена</span> <span>окон</span> <span>и</span> <span>дверей</span></a>

            <ul class="service-category">
                <li><span>Решетчатые</span> <span>двери</span></li>
                <li><span>Противопожарные</span> <span>люки</span></li>
                <li><span>Люки</span> <span>выхода</span> <span>на</span> <span>кровлю</span></li>
                <li><span>Люки</span> <span>выхода</span> <span>на</span> <span>чердак</span></li>
                <li><span>Слуховые</span> <span>окна</span></li>
            </ul>
        </div>
        <div>
            <div class="service-image"><a asp-controller="Services"
                                          asp-action="Asfaltirovanie"><img src="/img/icon-main-7_5b7fde.png"></a></div>

            <a asp-controller="Services"
               asp-action="Asfaltirovanie" class="service-title"><span>Асфальтирование</span></a>

            <ul class="service-category">
                <li><span>Строительство</span> <span>парковок</span></li>
                <li><span>Асфальтирование</span> <span>парковки</span></li>
                <li><span>Установка</span> <span>парковочных</span> <span>столбиков</span></li>
                <li><span>Асфальтирование</span> <span>детских</span> <span>площадок</span></li>
                <li><span>Гидроизоляция</span> <span>отмостки</span></li>
            </ul>
        </div>
        <div>
            <div class="service-image"><a asp-controller="Services"
                                          asp-action="RemontFasadov"><img src="/img/icon-main-4_5b7fde.png"></a></div>

            <a asp-controller="Services"
               asp-action="RemontFasadov" class="service-title"><span>Ремонт</span> <span>фасадов</span></a>

            <ul class="service-category">
                <li><span>Отделка</span> <span>цоколя</span></li>
                <li><span>Монтаж</span> <span>капельников</span></li>
                <li><span>Герметизация</span> <span>швов</span></li>
                <li><span>Мойка</span> <span>фасада</span></li>
                <li><span>Очистка</span> <span>фасадов</span> <span>от</span> <span>краски</span></li>
            </ul>
        </div>
        <div>
            <div class="service-image"><a asp-controller="Services"
                                          asp-action="KrovelnieRaboti"><img src="/img/icon-main-1_5b7fde.png"></a></div>

            <a asp-controller="Services"
               asp-action="KrovelnieRaboti" class="service-title"><span>Кровельные</span> <span>работы</span></a>

            <ul class="service-category">
                <li><span>Монтаж</span> <span>фальцевой</span> <span>кровли</span></li>
                <li><span>Гидроизоляция</span> <span>кровли</span></li>
                <li><span>Утепление</span> <span>кровли</span></li>
                <li><span>Монтаж</span> <span>наплавляемой</span> <span>кровли</span></li>
                <li><span>Покраска</span> <span>кровли</span></li>
            </ul>
        </div>
        <div>
            <div class="service-image"><a asp-controller="Services"
                                          asp-action="Blagoustroistvo"><img src="/img/icon-main-2_5b7fde.png"></a></div>

            <a asp-controller="Services"
               asp-action="Blagoustroistvo" class="service-title"><span>Благоустройство</span> <span>придомовой</span> <span>территории</span></a>

            <ul class="service-category">
                <li><span>Установка</span> <span>малых</span> <span>архитектурных</span> <span>форм</span></li>
                <li><span>Строительство</span> <span>детских</span> <span>площадок</span></li>
                <li><span>Ремонт</span> <span>детских</span> <span>площадок</span></li>
                <li><span>Строительство</span> <span>спортивных</span> <span>площадок</span></li>
                <li><span>Набивные</span> <span>дорожки</span></li>
            </ul>
        </div>
    </div>
</div>


<div class="azure-bg azure-bg--index">
    <div class="wrapper wrapper-statistics">
        <div class="row statistics">
            <div>
                <h1 class="statistics-title">Красивому Екатеринбургу - красивый ремонт!</h1>
                <p>Компания Миллениум работает на рынке ремонта и благоустройства многоэтажных домов. Мы возвращаем жилому фонду облик, достойный Уральской столицы.</p>
                <a asp-controller="Home" asp-action="About" class="button statistics-button">Подробнее о нас →</a>
            </div>
        </div>
    </div>

    <div class="wrapper" style="left: 0">
        <ul class="why-list why-list__index">
            <li>
                <h2>Почему выбирают именно нас</h2>
            </li>
            <li style="background-image: url(/img/na-vashem-obekte-budut-truditsja-tolko-rabochie-s-bolshim-professionalnym-opytom_5b8e37.png);">
                На Вашем объекте будут трудиться только рабочие с большим профессиональным опытом.
            </li>
            <li style="background-image: url(/img/vy-mozhete-posetit-ljubojj-iz-nashikh-obektov-i-poluchit-otzyv-ot-dejjstvujushhego-ili-byvshego-zakazchika-naprjamuju_5b7ff6.png);">
                Вы можете посетить любой из наших объектов и получить отзыв от действующего или бывшего Заказчика напрямую.
            </li>
            <li style="background-image: url(/img/v-nashikh-smetakh-i-dogovorakh-net-podvodnykh-kamnejj-remont-obojjdetsja-vam-v-tu-cenu-kotoraja-ukazana-v-dogovore_5b7ff6.png);">
                В наших сметах и договорах нет подводных камней, ремонт обойдется Вам в ту цену, которая указана в договоре.
            </li>
            <li style="background-image: url(/img/my-rabotaem-tolko-s-kachestvennymi-strojjmaterialami-pojetomu-ne-boimsja-davat-garantiju-na-nashi-raboty_5b7ff6.png);">
                Мы работаем только с качественными стройматериалами, поэтому не боимся давать гарантию на наши работы.
            </li>
            <li style="background-image: url(/img/my-rabotaem-s-2013-goda-vsegda-vypolnjaem-rabotu-v-ogovorennye-sroki-i-ne-narushaem-dannykh-objazatelstv_5b7ff6.png);">
                Мы работаем с 2013 года. Всегда выполняем работу в оговоренные сроки и не нарушаем данных обязательств.
            </li>
            <li style="background-image: url(/img/vam-budet-udobno-prodolzhat-sotrudnichat-s-nami-iz-goda-v-god-tak-kak-my-javljaemsja-mnogoprofilnojj-kompaniejj-s-shirokim-perechnem-uslug_5b7ff7.png);">
                Вам будет удобно продолжать сотрудничать с нами из года в год, так как мы являемся многопрофильной компанией с широким перечнем услуг.
            </li>
            <li style="background-image: url(/img/u-vas-budet-lichnyjj-menedzher-gotovyjj-otvetit-na-ljubye-vashi-voprosy-dazhe-v-vykhodnojj-den_5b8e37.png);">
                У Вас будет личный менеджер, готовый ответить на любые ваши вопросы даже в выходной день!
            </li>
        </ul>
    </div>
</div>
    
<div class="wrapper">
    <h2>Объекты</h2>
    <div class="slider-objects">
        <div class="item">
            <a href=""><img src="/img/home1.jpg"></a>
            <div class="slider-objects__item-info">
                <div class="slider-objects__item-block">
                    <div>
                        <strong>Детский лагерь отдыха "Дружба". Белоярский ГО</strong>
                    </div>
                    <div>
                        <a asp-controller="Home" asp-action="Objects" class="button slider-objects__item-button--color">Смотреть все объекты</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper" style="margin-top: 20px">
    <ul class="why-work">
        <li>
            <h2>Как начать работать с нами</h2>
        </li>

        <li style="background-image: url(/img/vyzovite-besplatno-nashego-specialista-dlja-zamera-i-obsuzhdenija-perechnja-rabot_5b7ff0.png);">Вызовите БЕСПЛАТНО нашего специалиста для замера и обсуждения перечня работ</li>
        <li style="background-image: url(/img/poluchite-na-sludujushhijj-den-ot-nas-smetu_5b7ff0.png);">Получите НА СЛЕДУЮЩИЙ ДЕНЬ от нас смету</li>
        <li style="background-image: url(/img/zakljuchite-s-nami-dogovor_5b7ff0.png);">Заключите с нами ДОГОВОР </li>
        <li style="background-image: url(/img/vnesite-avans-razmer-kotorogo-vsegda-obsuzhdaetsja-zaranee-i-individualno_5b7ff0.png);">Внесите аванс, размер которого всегда обсуждается заранее и индивидуально</li>
        <li style="background-image: url(/img/proizvedite-okonchatelnyjj-raschet-posle-zavershenija-vsekh-rabot-i-podpisanija-akta_5b7ff0.png);">Произведите окончательный расчет после завершения всех работ и подписания Акта</li>
        <li style="background-image: url(/img/naslazhdajjtes-remontom-vashejj-mechty_5b7ff0.png);">Наслаждайтесь РЕМОНТОМ Вашей мечты!</li>
    </ul>
</div>
</body>