@{
    Layout = "_Layout";
}

<div class="wrapper">
    <h2 style="margin-top : 50px">Работы</h2>
    <div class="objects objects--list">
        <div class="item">
            <a><img src="/img/home1.jpg"></a>
            <div class="objects__item-info objects__item-info--list">
                <div class="objects__item-block objects__item-block--list">
                    <div>
                        <strong>Санкт-Петербург, Тамбасова 4</strong>
                    </div>
                    <div>
                        <a class="button objects__item-button--color">Смотреть подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <a><img src="/img/home3.jpg"></a>
            <div class="objects__item-info objects__item-info--list">
                <div class="objects__item-block objects__item-block--list">
                    <div>
                        <strong>Санкт-Петербург, Тамбасова 31к2</strong>
                    </div>
                    <div>
                        <a class="button objects__item-button--color">Смотреть подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>