@{
    Layout = "_Layout";
}

<div class="wrapper">
    <h2 style="margin-top : 50px">Работы</h2>
    <div class="objects objects--list">
        <div class="item">
            <a><img src="/img/bodrost-7.jpg"></a>
            <div class="objects__item-info objects__item-info--list">
                <div class="objects__item-block objects__item-block--list">
                    <div>
                        <strong>Санаторий Бодрость"</strong>
                    </div>
                    <div>
                        <a asp-controller="Object" asp-action="OzdoroviteliiCenter" class="button objects__item-button--color">Смотреть подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <a><img src="/img/Ozdor-Center-6.jpg"></a>
            <div class="objects__item-info objects__item-info--list">
                <div class="objects__item-block objects__item-block--list">
                    <div>
                        <strong>Детский лагерь "Дружба"</strong>
                    </div>
                    <div>
                        <a asp-controller="Object" asp-action="DruzhbaLager" class="button objects__item-button--color">Смотреть подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <a><img src="/img/irbit8.jpg"></a>
            <div class="objects__item-info objects__item-info--list">
                <div class="objects__item-block objects__item-block--list">
                    <div>
                        <strong>Детский сад №5 «Голубой кораблик». Ирбит</strong>
                    </div>
                    <div>
                        <a asp-controller="Object" asp-action="Irbit" class="button objects__item-button--color">Смотреть подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>