@{
    Layout = "_Layout";
}

<div class="vacancy">
    <div class="wrapper">
        <h1 style="margin-top: 50px">Вакансии</h1>
        <hr class="vacancy-hr">
        <div class="vacancy_item">
            <div class="vacancy_title">Менеджеры по продажам</div>
            <div class="vacancy_info">
                <div class="vacancy_info_bl">
                    <div class="vacancy_info_title">Обязанности:</div>
                    <div class="vacancy_info_text">
                        <ul>
                            <li>Исходящие звонки, даем подготовленную базу потенциальных клиентов;</li>
                            <li>Продажа ремонтно-строительных услуг компании, для вашего удобства есть CRM система;</li>
                            <li>Выезд к заказчику, для выполнения замеров, выявления потребностей;</li>
                            <li>Подготовка коммерческих предложений, составление смет;</li>
                            <li>Сопровождение и консультирование заказчиков на стадии заключения договора.</li>
                        </ul>
                    </div>
                </div>
                <div class="vacancy_info_bl">
                    <div class="vacancy_info_title">Требовния:</div>
                    <div class="vacancy_info_text">
                        <ul>
                            <li>Опыт в продажах.</li>
                            <li>Умение чувствовать клиента, задавать правильные вопросы.</li>
                            <li>Пунктуальность, активность, ответственность, коммуникабельность, порядочность.</li>
                            <li>Знание технологий выполнения отделочных работ.</li>
                            <li>Пользователь ПК, владение СРМ ресурсами.</li>
                            <li>Полный рабочий день, график 5/2.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="vacancy-hr">
        <div class="vacancy_item">
            <div class="vacancy_title">Прораб отделочных работ</div>
            <div class="vacancy_info">
                <div class="vacancy_info_bl">
                    <div class="vacancy_info_title">Обязанности:</div>
                    <div class="vacancy_info_text">
                        <ul>
                            <li>Организация и координация работ на объекте.</li>
                            <li>Контроль выполнения графика и соблюдения технологии и качества работ;</li>
                            <li>Планирование и своевременное обеспечение (закупка) материально-технического оснащения на объекте;</li>
                            <li>Обеспечение качества строительно-монтажных работ;</li>
                            <li>Контроль за соблюдением работниками правил и норм безопасности и охраны труда</li>
                            <li>Набор рабочих в бригады.</li>
                        </ul>
                    </div>
                </div>
                <div class="vacancy_info_bl">
                    <div class="vacancy_info_title">Требовния:</div>
                    <div class="vacancy_info_text">
                        <ul>
                            <li>Строительное или техническое образование;</li>
                            <li>Опыт работы прорабом на общестроительных работах от 3 лет;</li>
                            <li>Умение читать техническую документацию;</li>
                            <li>Умение эффективно организовывать работу на объекте;</li>
                            <li>Желательно знание технологий выполнения отделочных работ;</li>
                            <li>Умение решать конфликтные ситуации;</li>
                            <li>Умение вести переговоры и деловую переписку;</li>
                            <li>Пользователь ПК, владение СРМ ресурсами;</li>
                            <li>Права категории В;</li>
                            <li>Полный рабочий день.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="vacancy-hr">
    </div>
</div>