@{
    Layout = "_Layout";
}

<div class="inner-top" style="margin-top: 50px">
    <div class="wrapper wrapper-inner-top">
        <div class="inner-top__flex">
            <div class="inner-top__title">
                <h1 class="inner-top__title-title">Благоустройство дворовой территории</h1>
                <span class="inner-top__title-text"><p>Неотъемлемый аспект комфортного проживания</p></span>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <h2>Что мы делаем</h2>
    <div class="container_drop_list">
        <ul class="lists">
            <li>Укладка тротуарной плитки</li>
            <li>Устройство газонов</li>
            <li>Установка скамеек</li>
            <li>Облицовка крыльца</li>
            <li>Экопарковки (зеленые парковки)</li>
            <li>Газонные ограждения</li>
            <li>Установка навесов и козырьков над входом</li>
            <li>Установка ворот и калиток</li>
            <li>Ремонт крылец</li>
            <li>Резиновое покрытие для детских площадок</li>
            <li>Установка велопарковок</li>
            <li>Уличные щетки для обуви</li>
            <li>Уличные урны</li>
            <li>Тактильные пиктограммы</li>
            <li>Установка забора</li>
            <li>Строительство детских площадок</li>
            <li>Ремонт детских площадок</li>
            <li>Строительство спортивных площадок</li>
            <li>Набивные дорожки</li>
            <li>Установка шлагбаума</li>
            <li>Адресные таблички, домовые знаки</li>
            <li>Изготовление металлических ворот</li>
            <li>Установка малых архитектурных форм</li>
            <li>Таблички с номерами квартир на подъезд</li>
            <li>Озеленение двора</li>
            <li>Дренажные системы</li>
            <li>Покраска забора (ограждения) МКД</li>
            <li>Контейнерные площадки для ТБО</li>
        </ul>
    </div>
</div>