@{
    Layout = "_Layout";
}

<div class="inner-top" style="margin-top: 50px">
    <div class="wrapper wrapper-inner-top">
        <div class="inner-top__flex">
            <div class="inner-top__title">
                <h1 class="inner-top__title-title">Косметический ремонт парадных</h1>
                <span class="inner-top__title-text"><p>Мы сделаем всё, для того чтобы ваша парадная стала самой уютной</p></span>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <h2>Что мы делаем</h2>
    <ul class="lists">
            <li>Комплексный ремонт мест общего пользования</li>
            <li>Ремонт полов</li>
            <li>Ремонт деревянных окон</li>
            <li>Окраска дверей</li>
            <li>Шпаклевка подъездов</li>
            <li>>Установка и отделка оконных откосов</li>
            <li>Декоративная и антивандальная штукатурка подъездов</li>
            <li>Покраска эмалью</li>
            <li>Демонтаж побелки</li>
            <li>Монтаж декоративных элементов</li>
            <li>Установка кабель каналов</li>
            <li>Замена светильников</li>
            <li>Штукатурно-малярные работы</li>
            <li>Укладка керамогранита</li>
            <li>Установка пристенных поручней</li>
            <li>Монтаж пандусов</li>
            <li>Монтаж подвесных потолков</li>
            <li>Устранение следов протечек</li>
            <li>Замена и установка почтовых ящиков</li>
            <li>Износостойкий ремонт первых этажей</li>
            <li>Очистка, мойка и дезинфекция мусоропровода</li>
            <li>Ремонт мусоропровода и мусороприемных камер</li>
            <li>Ремонт ступеней лестниц</li>
            <li>Исправление чужих ошибок ремонта</li>
            <li>Демонтаж разных конструкций</li>
            <li>Разработка дизайн-проекта</li>
            <li>Отделка дверных откосов</li>
            <li>Ремонт подвала</li>
            <li>Ремонт деревянных дверей</li>
            <li>Ремонт чердака</li>
            <li>Замена радиаторов отопления</li>
        </ul>
</div>