@{
    Layout = "_Layout";
}

<div class="inner-top" style="margin-top: 50px">
    <div class="wrapper wrapper-inner-top">
        <div class="inner-top__flex">
            <div class="inner-top__title">
                <h1 class="inner-top__title-title">Ремонт Фасадов Зданий</h1>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <h2>Что мы делаем</h2>
    <div class="container_drop_list">
        <ul class="lists">
            <li>Капитальный ремонт фасадов</li>
            <li>Покраска фасадов</li>
            <li>Герметизация швов</li>
            <li>Мойка фасада</li>
            <li>Очистка фасадов от краски</li>
            <li>Штукатурка фасадов</li>
            <li>Гидрофобизация фасадов</li>
            <li>Очистка от высолов</li>
            <li>Реставрация натурального камня</li>
            <li>Ремонт цоколя</li>
            <li>Гидроизоляция зданий</li>
            <li>Ремонт входных групп</li>
            <li>Изготовление козырьков и навесов</li>
            <li>Монтаж отливов</li>
            <li>>Монтаж капельников</li>
            <li>Отделка цоколя</li>
        </ul>
    </div>
</div>