@{
    Layout = "_Layout";
}

<div class="inner-top" style="margin-top: 50px">
    <div class="wrapper wrapper-inner-top">
        <div class="inner-top__flex">
            <div class="inner-top__title">
                <h1 class="inner-top__title-title">Белоярский Городской Округ. Детский лагерь отдыха "Дружба"</h1>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="gallery">
        <img src="/img/Ozdor-Center-5.jpg">
        <img src="/img/Ozdor-Center-6.jpg">
        <img src="/img/Ozdor-Center-7.jpg">
        <img src="/img/Ozdor-Center-1.jpg">
        <img src="/img/Ozdor-Center-2.jpg">
        <img src="/img/Ozdor-Center-3.jpg">
        <img src="/img/Ozdor-Center-4.jpg">
    </div>
</div>