@{
    Layout = "_Layout";
}

<div class="inner-top" style="margin-top: 50px">
    <div class="wrapper wrapper-inner-top">
        <div class="inner-top__flex">
            <div class="inner-top__title">
                <h1 class="inner-top__title-title">Ирбит</h1>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="gallery">
        <img src="/img/irbit1.jpg">
        <img src="/img/irbit2.jpg">
        <img src="/img/irbit3.jpg">
        <img src="/img/irbit4.jpg">
        <img src="/img/irbit5.jpg">
        <img src="/img/irbit6.jpg">
        <img src="/img/irbit7.jpg">
        <img src="/img/irbit8.jpg">
        <img src="/img/irbit9.jpg">
    </div>
</div>