@{
    Layout = "_Layout";
}

<div class="inner-top" style="margin-top: 50px">
    <div class="wrapper wrapper-inner-top">
        <div class="inner-top__flex">
            <div class="inner-top__title">
                <h1 class="inner-top__title-title">Оздоровительный центр Санаторий Бодрость. Екатеринбург ул. Краснофлотцев 48А</h1>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="gallery">
        <img src="/img/bodrost-1.jpg">
        <img src="/img/bodrost-2.jpg">
        <img src="/img/bodrost-3.jpg">
        <img src="/img/bodrost-4.jpg">
        <img src="/img/bodrost-5.jpg">
        <img src="/img/bodrost-6.jpg">
        <img src="/img/bodrost-7.jpg">
    </div>
</div>